.App {
  text-align: center;
}

/* default react styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* single box where text is entered */
.letter-box {
  width: 32px;
  height: 32px; 
  margin: 1px;
  text-align: center;
  border: 2px solid transparent;
  font-size: 32px;
  text-transform: uppercase;
}

/* when a single box is clicked on and ready to be typed on */
.letter-box:focus {
  background-color: #ffda37;
  caret-color: transparent;
  outline: none;
  border: 2px solid transparent; 
}

/* single row of opponent's status board */
.opponent-row {
  font-size: 20px;
  line-height: 0;
  letter-spacing: 0px;
}
